<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vocab.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>背单词</name>
    <description>本地背单词应用</description>
    <author email="dev@example.com">Vocab App</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="#f0f2f5" />
</widget>
